#### Pandas Dataframe by Database

##### DB모듈

- MySQL : pymysql 모듈 설치
- Oracle : cx_Oracle
- SQL server : pymssql

In [1]:
! pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
                                              0.0/43.7 kB ? eta -:--:--
     ---------------------------------------- 43.7/43.7 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [3]:
import pandas as pd
import pymysql

In [9]:
conn = pymysql.connect(host='210.119.14.56', port=3306, user='root', password='12345', db='sakila')
query = 'SELECT * FROM actor'

df = pd.read_sql_query(query, conn)
print('조회완료')

조회완료

C:\Users\Administrator\AppData\Local\Temp\ipykernel_8732\183394569.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

In [10]:
df

     actor_id first_name     last_name         last_update
0           1   PENELOPE       GUINESS 2006-02-15 04:34:33
1           2       NICK      WAHLBERG 2006-02-15 04:34:33
2           3         ED         CHASE 2006-02-15 04:34:33
3           4   JENNIFER         DAVIS 2006-02-15 04:34:33
4           5     JOHNNY  LOLLOBRIGIDA 2006-02-15 04:34:33
..        ...        ...           ...                 ...
195       196       BELA        WALKEN 2006-02-15 04:34:33
196       197      REESE          WEST 2006-02-15 04:34:33
197       198       MARY        KEITEL 2006-02-15 04:34:33
198       199      JULIA       FAWCETT 2006-02-15 04:34:33
199       200      THORA        TEMPLE 2006-02-15 04:34:33

[200 rows x 4 columns]

In [14]:
df.to_csv('./actor_list.csv', encoding='utf-8', index=False)

In [15]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
                                              0.0/7.6 MB ? eta -:--:--
     -                                        0.4/7.6 MB 11.6 MB/s eta 0:00:01
     -------                                  1.5/7.6 MB 18.9 MB/s eta 0:00:01
     ---------------                          2.9/7.6 MB 23.5 MB/s eta 0:00:01
     -------------------------                5.0/7.6 MB 28.8 MB/s eta 0:00:01
     ---------------------------------------  7.5/7.6 MB 34.0 MB/s eta 0:00:01
     ---------------------------------------  7.6/7.6 MB 32.5 MB/s eta 0:00:01
     ---------------------------------------- 7.6/7.6 MB 24.4 MB/s eta 0:00:00
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.1.0-cp311-cp311-win_amd64.whl (470 kB)
                                              0.0/470.9 kB ? eta -:--:--
     ------------------------------------- 470.9/470.9 kB 28.8 MB/s eta 0:00:00
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.40.0-cp311-cp311-win_amd64.whl (1.9 MB)
                                              0.0/1.9 MB ? eta -:--:--
     ---------------------------------------  1.9/1.9 MB 128.3 MB/s eta 0:00:01
     ---------------------------------------- 1.9/1.9 MB 42.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1 (from matplotlib)
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
                                              0.0/55.4 kB ? eta -:--:--
     ---------------------------------------- 55.4/55.4 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\program files\python311\lib\site-packages (from matplotlib) (1.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\administrator\appdata\roaming\python\python311\site-packages (from matplotlib) (23.1)
Collecting pillow>=6.2.0 (from matplotlib)
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
                                              0.0/2.5 MB ? eta -:--:--
     ---------------------------------------  2.5/2.5 MB 78.1 MB/s eta 0:00:01
     ---------------------------------------- 2.5/2.5 MB 39.7 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.0-py3-none-any.whl (102 kB)
                                              0.0/102.6 kB ? eta -:--:--
     ---------------------------------------- 102.6/102.6 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\program files\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.40.0 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.1.0